{% extends 'base.html' %}
{% load static %}

{% block title %}Favorite Movies{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'IMDbyx/index.css' %}?v=123">
{% endblock %}

{% block content %}
    {% include 'IMDbyx/includes/header.html' %}

    <div class='favorite-movies'>
        <h1>{{sentence}}</h1>
    </div>

    <section id='all-movies'>
        <ul>
            {% for movie in movies %}
            <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
            {% endfor %}
        </ul>
    </section>

    {% include 'IMDbyx/includes/pagination.html' %}
{% endblock %}