{% extends 'base.html' %}
{% load static %}

{% block title %} IMDbyx {% endblock %}
{% block css_files %} 
    <link rel="stylesheet" href="{% static 'IMDbyx/index.css' %}?v=123">
{% endblock %}

{% block content %}
    {% include 'IMDbyx/includes/header.html' %}
    <section class='messages'>
        {% if messages %}
            {% for message in messages %}
                <h1>{{message}}</h1>
            {% endfor %}
        {% endif %}
    </section>

    <section class='filter-genres'>
        {% if not search %}
        <form action="{% url 'filter-genre' %}" method='get'>
            {% for genre in genres %}
            <label class="custom-checkbox">
                <input type="checkbox" name="genres" value="{{ genre.id }}"  {% if genre.id in selected_genres %}checked{% endif %}>
                <span>{{ genre.name }}</span>
            </label>
            {% endfor %}
            <div class='pink-box'>
                <h3>Advanced Filters</h3>
            </div>
                <div class='advanced-filter'>
                <label for="actor">Actor</label>
                <input type="text" placeholder='Actor Name' name='actor'>
    
                <label for="year">Year</label>
                <input type="text" placeholder='Year Of Release', name='year'>
                
            </div>
            <button type="submit">Filter</button>
        </form>

        {% endif %}
    </section>

    <section id='all-movies'>
            <ul>
                {% for movie in movies %}
                <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
                {% endfor %}
            </ul>
    </section>

    {% include 'IMDbyx/includes/pagination.html' %}
{% endblock %}