{% extends 'base.html' %}
{% load static %}

{% block title %} IMDbyx {% endblock %}
{% block css_files %} 
    <link rel="stylesheet" href="{% static 'IMDbyx/index.css' %}?v=123">
{% endblock %}

{% block content %}
    <section id='all-movies'>
            <h1>Bem vindo(a) ao IMDbyx!</h1>
            <ul>
                <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
                <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
                <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
                <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
                <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
                <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
                <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
                <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
            </ul>
    </section>
{% endblock %}