{% extends 'base.html' %}
{% load static %}

{% block title %} IMDbyx {% endblock %}
{% block css_files %} 
    <link rel="stylesheet" href="{% static 'IMDbyx/index.css' %}?v=123">
{% endblock %}

{% block content %}
    {% include 'IMDbyx/includes/header.html' %}
    <section class='messages'>
        {% if messages %}
            {% for message in messages %}
                <h1>{{message}}</h1>
            {% endfor %}
        {% endif %}
    </section>

    <section class='filter-genres'>
        {% if not search %}
        <form action="{% url 'filter-genre' %}" method='get'>
            {% for genre in genres %}
            <label class="custom-checkbox">
                <input type="checkbox" name="genres" value="{{ genre.id }}"  {% if genre.id in selected_genres %}checked{% endif %}>
                <span>{{ genre.name }}</span>
            </label>
            {% endfor %}
            <button type="submit">Filtrar</button>
        </form>

        {% endif %}
    </section>

    <section id='all-movies'>
            <ul>
                {% for movie in movies %}
                <li> {% include 'IMDbyx/includes/movie_preview.html' %}</li>
                {% endfor %}
            </ul>
    </section>

    <div>
        <span>Página {{ page }} de {{ total_pages }}</span>
        <div>
            {% if page > 1 %}
            <a href="?page={{ page|add:"-1" }}">Página Anterior</a>
            {% endif %}
            {% if page < total_pages %}
            <a href="?page={{ page|add:"1" }}">Próxima Página</a>
            {% endif %}
        </div>
    </div>
{% endblock %}