{% extends 'base.html' %}
{% load static %}

{% block title %}Movie Details{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'IMDbyx/movie_details.css' %}?v=123">
{% endblock %}

{% block content %}
    {% include 'IMDbyx/includes/header.html' %}
    <section class='all-info'>
        <div class='messages'>
            {% if messages %}
                {% for message in messages %}
                    <h1>{{message}}</h1>
                {% endfor %}
            {% endif %}
        </div>

        <div class='pink-box'>
            <h1>{{movie.title}} ({{ year }})</h1>
        </div>

        <div class='add-to-favorites'>
           {% if not is_favorite %}
                <a href="{% url 'add-to-favorites' movie.id %}">
                    <button>Add to Favorites</button>
                </a>
                {% if not is_watchlist %}
                    <a href="{% url 'add-to-watchlist' movie.id %}">
                        <button>Add to Watchlist</button>
                    </a>
                {% else %}
                    <a href="{% url 'remove-from-watchlist' movie.id %}">
                        <button>Remove from WatchList</button>
                    </a>
                {% endif %}
             {% else %}
                <a href="{% url 'remove-from-favorites' movie.id %}">
                    <button>Remove from Favorites</button>
                </a>
             {% endif %}
        </div>
        
        <img src="https://image.tmdb.org/t/p/w1280{{movie.image_backdrop}}" alt="{{movie.title}}">
        
                <div class='overview'>
                    <h2>Overview</h2>
                    <p>{{movie.overview}}</p>
                </div>
        
        <div class='genre-info'>
            <h2>Genres</h2>
            <ul>
             {% for genre in movie.genres %}
                 <li>{{genre.name}}</li>
             {% endfor %}
            </ul>
        </div>

        <div class='cast-info'>
            <h2>Cast</h2>
            <ul>
                {% for actor in movie.actors %}
                <li>
                <a href={% url 'actor-details' actor.id_actor.id %}>
                        <img src="https://image.tmdb.org/t/p/w185{{actor.id_actor.image_path}}" alt="{{actor.id_actor.name}}">
                        <h3>{{actor.id_actor.name}}</h3>
                        <p>{{actor.character}}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div>
    </section>
{% endblock %}