#main-navigation {
    height: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0; 
    margin: 5rem auto;
    width: 90%;
    max-width: 100rem;
    padding: 1rem;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    justify-content: space-between;
}

#main-navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#main-navigation a:hover,
#main-navigation a:active {
    color: #3f163c;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
    color:white;
}

.nav-box {
    display: flex;
}