#all-movies {
    margin: 5rem auto;
    width: 90%;
    max-width: 100rem;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.5rem;
    column-gap: 1.8rem;
  }

  /* .poster-filme {
    position: relative; 
    width: 13rem; 
    height: auto;
    overflow: hidden; 
  } */

  img {
    width: 13rem;
    height: auto;
    transition: all 0.2s ease;
    /* object-fit: cover; */
  }

  img:hover, img:active {
    transform: scale(1.1);
    filter: grayscale(50%);
    opacity: 20%;
  }
