{% load static %}

<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Create User</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'users/login.css' %}?v=123">
    <!--Stylesheet-->
</head>
<body class='body-login'>
  {% include 'IMDbyx/includes/header.html' %}
  <div class='content'>
    <form class='form-login' method=POST>
       {% csrf_token %}
        <h3>Create Account</h3>

        <label for="name">Name</label>
        <input type="text" placeholder="Name" name="name">
  
        <label for="email">Email</label>
        <input type="text" placeholder="Email" name="email">
  
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">
  
        <button>Create Account</button>
    </form>

    {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
    {% endif %}

  </div>
</body>
</html>
