{% load static %}

<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'users/login.css' %}?v=123">
    <!--Stylesheet-->
</head>
<body class='body-login'>
  {% include 'IMDbyx/includes/header.html' %}
  <div class='content'>
    <form class='form-login'>
        <h3>Login Here</h3>
  
        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username">
  
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">
  
        <button>Log In</button>
    </form>

  </div>
</body>
</html>
