{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'IMDbyx/teste.css' %}?v=123">
{% endblock %}

{% block content %}
<header id='main-navigation'>
    <h1><a href="{% url 'list-movies' %}">IMDbyx</a></h1>
    <nav class='nav-box'>
        <div class="search-container">
            <form action="{% url 'search-movies' %}" method=GET>
                <input type="text" id="search" name="movie" placeholder="Search for a movie...">
                <button type="submit">Buscar</button>
            </form>
        </div>
        <div class='login'>
            <a href="{% url 'user-login' %}">Login</a>
            <a href="{% url 'create-user' %}">Create Account</a>
        </div>
    </nav>
</header>
{% endblock %}